:root {

  --accent-color: #2eb775;

  --bg-dark: #21242C;
  --bg: #2A2F39;
  --bg-light: #3F4450;

  --text-intense: #C9D5EF;
  --text: #A6B1C8;

  --font: Lato, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-heading: OtomanopeeOne, "Times New Roman", serif;

  --skew: 2deg;

  /*--oblique-top-dag: 2deg;*/
  /*--oblique-top-dag-mirror: -2deg;*/


  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /*width: 100%;*/
  box-sizing: border-box;


  font-family: var(--font);
  line-height: 1.5;
  font-weight: 400;

}



body {
  margin: 0;
  /*display: flex;*/
  place-items: center;
  /*min-width: 320px;*/
  /*min-height: 100vh;*/
}

@media only screen and (min-width: 1300px) {
  html {

    font-size: 0.8vw;

  }
}

html {
  scroll-behavior: smooth;
  font-size: 16px;


}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.nowrap {
  white-space: nowrap;
}

#app {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  text-align: center;
}

* {
  box-sizing: inherit;
  /*font-family: var(--font); */
}

p {
  font-family: var(--font);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}


.flex {
  display: flex;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.flexCol {
  flex-direction: column;
}


.text-underline::after {
  content: "";
  position: relative;
  width: 100%;
  display: block;
  height: 1em;
  z-index: -1;
  transform: translate(1rem, -0.75em);
  background: var(--bg-dark);
}

.text-underline--darker::after {
  background: hsla(224, 14%, 10%, 1);
}

.text-underline {
  position: relative;
  width: fit-content;
  z-index: 0;
}
@font-face {
  font-family: 'OtomanopeeOne';
  font-style: normal;
  font-weight: 400;
  /*noinspection CssUnknownTarget*/
  src: local('OtomanopeeOne Regular'), local('OtomanopeeOne-Regular'), url('/OtomanopeeOne-Regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  /*noinspection CssUnknownTarget*/
  src: local('Lato Regular'), local('Lato-Regular'), url('/Lato-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  /*noinspection CssUnknownTarget*/
  src: local('Lato Semibold'), local('Lato-Semibold'), url('/Lato-Semibold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}